.ThemePicker {
  position: fixed; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  border-radius: 8px;
  z-index: 1000; 
  width: 80%; 
  overflow: hidden; 
}
.ThemePicker .row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.themePicker-close{
    text-align: right;
    border: none;
    padding-top: 5px;
}

.themePicker-close-btn{
    border: none;
    background-color: #ffffff;
}

#themePicker-box{
    border-radius: 5px;
    width: 100%;
    background-color: ivory;
}

.themePicker-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.themePicker-container {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

.themePicker-preview {
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  
  .themePicker-btn {
    padding: 10px 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .themePicker-btn-cancel {
    background-color: #d9180a;
  }

  .themePicker-btn:hover {
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.2);
  }
  
  .themePicker-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* background-color: #f0f0f0; */
    padding: 20px;
    border-radius: 10px;
    /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); */
    width: 80%;
  }
  
  .themePicker-image{
    width: 80%;
    height: 75%;
  }