.TechSkills {
  margin: 0;
}

.TechSkills .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.TechSkills img {
  width: 50px;
  margin: 5px;
}
