.bodyWrapper {
  /* background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* max-height: 100svh; */
}
/* TODO: fix this for mobile 

*/
@media (max-width: 1024px) { 
  .bodyWrapper {
    background-size: contain; 
    background-position: top center; 
  }
}
/* @media (max-width: 768px) {  */
  .backgroundImage {
    position:fixed;
    /* top: 0;
    left: 0; */
    width: 100vw;
    height: 100vh; 
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat;
  }
/* } */

h1 {
  text-align: center;
  font-family: "Luckiest Guy", cursive;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 5px goldenrod, 0 0 5px gold, -1px 0 black,
    0 1px black, 1px 0 black, 0 -1px black;
}

#info-box {
  margin: auto;
  border-radius: 5px;
  width: 90%;
  background-color: ivory;
}

.hrefDiv{
  height: 35px;
}