/*body {
   background-image: url(https://64.media.tumblr.com/0e2a8ba291b133ced10be72b6e8d60a6/04309e525a883961-03/s1280x1920/f884ba4c85e7b8e794cc06a66a538de1506d0a93.png); 
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}*/
.bodyWrapper {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

h1 {
  text-align: center;
  font-family: "Luckiest Guy", cursive;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 5px goldenrod, 0 0 5px gold, -1px 0 black,
    0 1px black, 1px 0 black, 0 -1px black;
}

#info-box {
  margin: auto;
  border-radius: 5px;
  width: 90%;
  background-color: ivory;
  /* width: 66%;
  max-width:66%;
  min-width:66%; */
}

.hrefDiv{
  height: 35px;
}