@import url("https://fonts.googleapis.com/css?family=Arima+Madurai:300");

.Home {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  width: 100%;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

#welcomeText {
  position: relative;
  padding-top: 150px;
  text-align: center;
  margin-bottom: -15%;
  color: white;
  font-family: "Luckiest Guy", cursive;
  text-shadow: 1px 1px 2px black, 0 0 5px goldenrod, 0 0 5px gold, -1px 0 black,
    0 1px black, 1px 0 black, 0 -1px black;
}

.theme-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}